.bg-register {
    background: linear-gradient(to right, rgb(254,167,75), rgb(250,124,68));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.btn-next {
    background-color: #370A31 !important;
}
.fs-7 {
    font-size: small;
}
.text-next {
    color: #370A31 !important;
}